
body{
    background-color: whitesmoke;
   
    align-items: center;
    flex-direction: row;
    border-radius: 8px;
    

}
    h1{
    align-items: center;
    height: 200px;
    width: 150px;
    background-color: brown;
    border-radius: 20%;
   align-items: center;
   padding-left: 18px;
   padding-top: 80px;
   color: white;
    }

img{
    border-radius: 20%;
    margin: 15px 0;
    padding: 40px;
padding-top: 60px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: brown;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}
ul li a{
    display: block;
    color: white;
    padding:  14px 16px;
    text-decoration: none;
    margin: 0;
    margin-top: 0;

}
ul li a:hover{
    background-color: rgb(196, 72, 72);

   
    
}